<%= render "shared/dashboard" %>

<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
    <h2>CREATE NEW Team</h2>
  </div>
  <div style="padding:70px">
    <%= form_for([@user, @team]) do |f| %>
      <div class="form-group">
        <%= f.label :team_name, "Team Name" %>
        <%= f.text_field :team_name, class: "form-control new-proj-input" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :description, "Team Description" %>
        <%= f.text_area :description,class: "form-control new-proj-input" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :avatar_url, "Team Avatar" %>
        <%= f.url_field :avatar_url, class: "form-control new-proj-input" %>
      </div>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>
