<%= render "shared/dashboard" %>

<div style="margin-left:25%; margin-right: 6%; padding:86px 28px;height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
    <h2><%= @team.team_name %></h2>
      <div>
        <%= link_to "/users/#{@user.id}/teams/#{@team.id}", method: :delete do %>
          <% render "shared/deleteButton" %>
        <% end %>
      </div>
    <% @team.users.each do |user| %>
    <h3><%= user.user_name %></h3> 
    <% end %>
    <div>
      <%= link_to "/users/#{@user.id}/teams/#{@team.id}/linkedconnections/destroy", method: :delete do %>
        <% render "shared/deleteButton" %>
      <% end %>
    </div>
  </div>
  <% @user.projects.each do |project| %>
    <%= link_to "/users/#{@user.id}/teams/#{@team.id}/projects/#{project.id}" do %>
      <% if @team.id == project.team_id %>  
        <div class="team-cards-container d-flex w-100 mt-4 justify-content-around">
          <div class="card-team">
            <h3 class="project-name justify-content-between"><%= project.project_name%></h3>
            <div class="d-flex justify-content-around">
              <div class="team-info d-inline-block w-49 p-3 text-left">
                <p class="team-show-info"><%= project.updated_at.to_time.strftime('%b-%d-%Y at %l:%M') %></p>
                </br>
                <p class="team-show-info"><%= project.description %></p>
              </div>
              <div class="doc-names d-inline-block w-49 p-3 text-left">
                <% project.documents.each do |document| %>
                  <p class="team-show-doc-names"><%= document.file_name.last(3) %></p>
                <% end %>
              </div> 
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div>
  <%= link_to "/users/#{@user.id}/teams/#{@team.id}/linkedconnections/new" do %>
    <% render "shared/newButton" %>
    <% end %>
  </div>
  <div>
  <%= link_to "/users/#{@user.id}/teams/#{@team.id}/projects/new" do %>
    <% render "shared/newButton" %>
    <% end %>
  </div>
</div>
