<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h2>Add Teammembers</h2>
    <%= simple_form_for([@user, @team]) do |f| %>
    <%= f.association :users, label: "Who do you want to add/remove to/from Team:", label_method: :user_name %>
    <%= f.input :team_name %>
    <%= f.input :description %>
    <%= f.submit data: { confirm: "Attention: If you selected users, that are already part of #{@team.team_name}, they will be removed. Are you sure you want to continue?" } %>
    <% end %>
</div>
