<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h2>Add/Remove Teammembers to/from your Project</h2>
    <%= simple_form_for([@user, @project]) do |f| %>
    <%= f.association :users, collection: @team.users, label: "Collaborators to change:", label_method: :user_name %>
    <%= f.input :project_name %>
    <%= f.input :description %>
    <%= f.submit data: { confirm: "Attention: If you selected users, that are already part of #{@project.project_name}, they will be removed. Are you sure you want to continue?" } %>
    <% end %>
</div>
