<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px; margin-right:50px">
  <div class ="view title d-flex w-100 justify-content-center">
    <h2 style="color:#f0883e; ">EDIT PROFILE</h2>
  </div>
  <div class="mt-3 mb-5" style="color: #ffffff">
    <div class="settings-box">
      <div class="col-12">
        <div style="margin-top:15px;padding:70px">
          <%= simple_form_for(@user) do |f| %>
          <%= f.input :display_name %>
          <%= f.input :user_name %>
          <%= f.input :email %>
          <%= f.input :avatar_url, as: :string %>
          <%= f.input :photo, as: :file, class: "btn-white" %>
          <%= f.submit class: "btn-blue mb-3" %>
          <!-- looks like their is some bootstrap inside -->
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-button: 15px">
    <div class ="view title d-flex w-100 justify-content-center">
      <h2 style="color:#f0883e">SECURITY SETTINGS</h2>
    </div>
    <div class="settings-box" style="color: #ffffff; padding:70px">
      <div class="col-12">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs" style="padding:15px">
            <div>
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
            </div>
          </div>
            <div class="form-actions" style="padding:15px">
              <%= f.button :submit, "Update", class: "btn-blue", style: "ml-1" %>
            </div>
        <% end %>
      </div>
    </div>

    <br>

    <div class ="view title d-flex w-100 justify-content-center">
      <h3 style="color:#f0883e; margin-top: 20px">CANCEL MY ACCOUNT</h3>
    </div>
    <br>
    <center><p style="margin-right: 0px">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-white" %></p></center>
    <%#= link_to "Back", :back, class: "btn-blue", style: "mb-5" %>

  </div>
  <div style="margin-top: 20px; color:#161b23">
    <p style="color:#161b23">
     .
    </p>
  </div>
</div>
