<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <div>
    <div class="user d-flex flex-wrap">
        <div class ="display">
          <h3>Profile <%= @creator.display_name %></h3>
            <p>Display Name:  <%= @creator.display_name %></p>
            <p>User Name:  <%= @creator.user_name %></p>
            <p>E-Mail:  <%= @creator.email %></p>
        </div>
      <div style="background-image: url('<%= @creator.avatar_url %>'); height: 100px; width: 100px; background-size: cover; border-radius: 50%; border: white 3px solid;">
    </div>
  </div>
  <%= link_to "Edit Profile", "/users/#{current_user.id}/edit", class: "btn-blue" %>
  <%= link_to "back", user_path, class: "btn-white" %>
</div>
