<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h3 class="db-displayname pl-0 pt-5">PROFILE  <%= @creator.display_name.upcase %></h3>
    <div class="settings-box">
      <div class="user d-flex flex-wrap">
          <div class ="display">
              <p class="input">Display Name:  <%= @creator.display_name %></p>
              <p class="input">User Name:  <%= @creator.user_name %></p>
              <p class="input">E-Mail:  <%= @creator.email %></p>
          </div>
        <!-- <div style="background-image: url('<%= @creator.avatar_url %>'); height: 100px; width: 100px; background-size: cover; border-radius: 50%; border: white 3px solid;"> -->
      </div>
    <%= link_to "Edit Profile", "/users/#{current_user.id}/edit", class: "btn-blue ml-3" %>
    <%= link_to "back", user_path, class: "btn-white" %>
  </div>
</div>
