<div class="dashboard">
  <ul>
    <li>
      <h2><% @user = current_user %></h2>
      <img style="background-image: url('<%= @user.avatar_url %>'); width: 140px; height: 140px; border-radius: 50%; border: black 1px solid; margin-top: 66px; background-size: 100%;">
    </li>
    <li><a class="active" href="#dashboard"></a><h1>DASHBOARD</h1></li>
    <li><%= link_to "Teams", "/teams"%></li>
    <li><%= link_to "Projects", "/projects"%></li>
    <a href="/"><span class="db-DATAsh-blue">DATA</span><span class="db-dataSH-white">SH</span></a>
    <!-- <li><%= link_to "DB", "/"%><span class="db-DATAsh-blue">DATA</span><span class="db-dataSH-white">SH</span></a></li> -->
    <li><a href="#recent">Recent</a></li>
    <li><%= link_to "Profile", "/users/#{current_user.id}/edit"%></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
