<div class="dashboard">
  <ul>
    <li>
      <h2><% @user = current_user %></h2>
      <% if @user.avatar_url.present? %>
        <img style="background-image: url('<%= @user.avatar_url %>')" class="avatar-large">
      <%# elsif %>
        <%#= cl_image_tag @user.photo.key %>
      <% else %>
        <%= cl_image_tag("tia4bcatlumaq2wqorbz", class: "avatar-large p-0") %>
      <% end %>
    </li>
    <br>
    <li class="db-displayname">
      <% if @user.user_name.present? %>
        <%= @user.user_name.upcase %>
      <% else %>
        <%= @user.email.split('@')[0] %>
      <% end %>
    </li>
    <li class="db-role">#{role}</li>
    <br>

    <li><%= link_to "Dashboard", "/"%></li>
    <li><%= link_to "Teams", "/users/#{current_user.id}/teams"%></li>
    <li><%= link_to "Projects", "/users/#{current_user.id}/projects"%></li>
    <li><%= link_to "DATASH", "/users/#{current_user.id}/documents", class: "db-DATAsh-blue"%></li>
<!--     <li><%= link_to "Recent", "/recent"%></li>
 -->    <li><%= link_to "Recent", "/users/#{current_user.id}/recent"%></li>
<!--     <li><a href="#recent">Recent</a></li>
 --><!--     <li><%= link_to "Profile", "/users/#{current_user.id}"%></li>
 -->    <li><%= link_to "Settings", edit_user_registration_path, class: "db-settings"%></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>

<!-- <span class="db-DATAsh-blue">DATA</span><span class="db-dataSH-white">SH</span>
 -->
