<div class="dashboard">
  <ul>
    <li>
      <h2><% @user = current_user %></h2>
      <img style="background-image: url('<%= @user.avatar_url %>'); width: 140px; height: 140px; border-radius: 50%; border: black 2px solid; margin-top: 66px; background-size: 100%; padding: 69px;">
    </li>
    <br>
    <li class="db-displayname"> <%= @user.display_name.upcase %></li>
    <li class="db-role">#{role}</li>
    <br>

    <li><%= link_to "Dashboard", "/"%></li>
    <li><%= link_to "Teams", "/users/#{current_user.id}/teams"%></li>
    <li><%= link_to "Projects", "/users/#{current_user.id}/projects"%></li>
    <li><%= link_to "DATASH", "/users/#{current_user.id}/documents", class: "db-DATAsh-blue"%></li>
    <li><%= link_to "Recent", "/users/#{current_user.id}/recent"%></li>
    <li><%= link_to "Settings", edit_user_registration_path, class: "db-settings"%></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
