<head>
  <script src="sorttable.js"></script>
</head>

<%= render "shared/dashboard" %>
<div style="margin-left:25%; margin-right: 6%; padding:86px 28px; height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
    <h2>DOCUMENTS</h2>
  </div>

  <div class="documents-container w-100 mt-4">
    <center><table class="sortable"></center>
        <thead>
          <tr>
            <th><h2>Name</h2></th>
            <th><h2>Type</h2></th>
            <th><h2>Date Created</h2></th>
            <th><h2>Size</h2></th>
            <th><h2>Project</h2></th>
          </tr>
        </thead>
      <tbody>
        <% @user.documents.each do |data| %>
            <tr>
              <td><p><%= link_to image_tag(data.doc.url, class: 'media-object'), data.doc_file_name, target: '_blank' %> <%= data.doc_file_name %></p></td>
              <td><p><%= data.doc_content_type %></p></td>
              <td><p><%= data.created_at %></p></td>
              <td><p><%= data.file_size %></p></td>
              <td><p><%= data.project.project_name %></p></td>
            </tr>
        <% end %>
      <tbody>
    </table>
  </div>

  <div>
    <%= link_to new_user_document_path do %>
      <% render "shared/newButton" %>
    <% end %>
  </div>
</div>
