<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
  <h2>DOCUMENTS</h2>
  </div>

  <div class="documents-container w-100 mt-4">
    <center><table class="docs-table">
        <tr>
          <th><h2>Name</h2></th>
          <th><h2>Type</h2></th>
          <th><h2>Date Created</h2></th>
          <th><h2>Size</h2></th>
          <th><h2>Project</h2></th>
        </tr>
      <% @user.documents.each do |data| %>

          <tr>
            <td><p><%= data.file_name %></p></td>
            <td><p><%= data.file_type %></p></td>
            <td><p><%= data.creation_date %></p></td>
            <td><p><%= data.file_size %></p></td>
            <td><p><%= data.project.project_name %></p></td>
          </tr>

      <% end %>
    </table></center>
  </div>
</div>
