<div style="padding:86px 28px;height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
  <h2>PREVIEW</h2>
  </div>

  <p class="preview-doc-name"><%= @document.doc_file_name %></p>

  <% if @document.doc? %>
    <% if @document.doc_content_type == "image/png" %>
      <%= link_to @document.doc.url, download: true do %>
        <%= render "shared/downloadButton" %>
      <% end %>
      <%= image_tag @document.doc.url, class: "doc-image-preview" %>
    <% elsif @document.doc_content_type == "image/jpeg" %>
      <%= link_to @document.doc.url, download: true do %>
        <%= render "shared/downloadButton" %>
      <% end %>
      <%= image_tag @document.doc.url, class: "doc-image-preview" %>
    <% elsif @document.doc_content_type == "application/pdf"%>
      <br>
      <iframe class="iframe-pdf-preview" src="<%= @document.doc.url %>"></iframe>
    <% elsif @document.doc_content_type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document"%>
        <div style="width: 100%;" align="center">
          <p>Due to data security reasons, you cannot view the document without downloading it.</p>
        </div>
          <%= link_to @document.doc.url, download: true do %>
            <%= render "shared/downloadButton" %>
          <% end %>
    <% else %>
      <p>Sorry, somthing went wrong</p>
    <% end %>
  <% end %>
</div>
