<%= render "shared/dashboard" %>

<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h2>CREATE NEW PROJECT</h2>
  <%= simple_form_for(@user.projects) do |f| %>
  <%= f.input :team_name %>
  <%= f.input :project_name %>
  <%= f.input :description %>
  <%= f.input :avatar_url %>
  <%= f.submit %>
<% end %>
</div>