<div class="sign-in-box w-50 mx-auto">
  <h2 style="color: #378BFC"><center>DATASH your data management</center></h2>
  <div class="edit-user-container mt-4 mb-5" style="color: #ffffff; background: #30363D; border: 1px solid white; box-sizing: border-box; padding: 70px">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-12">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn-blue m-2" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-envelope"></i><p>datash@supercool.com</p></a>
  </div>
  <div class="footer-copyright">
    <p>All rights reserved by Datash GmbH</p>
  </div>
</div>
